# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Vite
dist/
.vite/
vite.config.js.timestamp-*

# VS Code
.vscode/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.cache
*.tmp

# Build outputs
/build/
/dist-ssr/

